<!DOCTYPE html>
<html>
<head>
    <title>Editar Categoría</title>
</head>
<body>
    <h2>Editar Categoría</h2>
    <form method="POST">
        <label for="new_category_name">Nuevo Nombre de Categoría:</label><br>
        <input type="text" id="new_category_name" name="new_category_name" value="{{ category_name }}" required><br><br>
        <input type="hidden" name="original_category_name" value="{{ category_name }}">
        <button type="submit">Guardar Cambios</button>
    </form>
    <p><a href="{{ url_for('categories') }}">Volver a Gestionar Categorías</a></p>
</body>
</html>